/* YOUR CUSTOM STYLES */
body { 
 background: url("/images/back2.jpg")no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.view {
	background: url("/images/back2.jpg")no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}

.full-bg-img {
	color: #fff;
}

.title {
	font-weight:100;
}

.payment .fa:not(:first-child) {
	margin-left:10px;
	color:rgba(255,255,255,.8);
}
input[type="text"]{
	color: #eee;
}
input[type="text"]:focus:not([readonly]) {
	border-color:#2BBBAD	;
	box-shadow:0 1px 0 0 #2BBBAD;
	color:#fff;
}

input[type="text"]:not([readonly])+label {
	color:rgba(255,255,255,.9);
}

input[type="text"]:focus:not([readonly])+label {
	color:#fff;
}
input[type="password"]{
  color: #eee;
}
input[type="password"]:focus:not([readonly]) {
  border-color:#2BBBAD  ;
  box-shadow:0 1px 0 0 #2BBBAD;
  color:#fff;
}

input[type="password"]:not([readonly])+label {
  color:rgba(255,255,255,.9);
}

input[type="password"]:focus:not([readonly])+label {
  color:#fff;
}

.infinite_text {
	color: #ffe276;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.bg-transparent{
	background: none;
	box-shadow: none;
}
.btn-rounded{
	border-radius: 150px;
}
footer.page-footer{
	margin-top: 0px;
	padding-top: 0px;
}
.blue-23{
	background: #1b2940;
}
.grey23 > li{
color: #aaa;
}
.card-title{
color: #75beba;
text-align: center;	
}
.card-text{
	color: #aaa;
	font-size: 20px;
	font-weight: 400;
}
.top-80{
	margin-top: 80px;
}
label {
	color: #8e66ab;
	font-size: 18px;
	padding: 4px;
}
.md-form>label{
	color: #aaa;
}
.ss-form input[type="text"]{
	color: #aaa;
}
.ss-form input[type="text"]:focus:not([readonly]) {
	border-color:#2BBBAD	;
	box-shadow:0 1px 0 0 #2BBBAD;
	color:#aaa;
}
.ss-form input[type="text"]:not([readonly])+label {
	color:#aaa;
}


.ss-form input[type="text"]:focus:not([readonly])+label {
	color:#aaa;
}
.radio {
  display: inline-block;
  padding-right: 20px;
  font-size: 18px;
  line-height: 49px;
  cursor: pointer;
}

.radio:hover .inner {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: .5;
}

.radio input {
  width: 1px;
  height: 1px;
  opacity: 0;
}

.radio input:checked + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.radio input:checked + .outer { border: 3px solid #30cfc0; }

.radio input:focus + .outer .inner {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  background-color: #30cfc0;
}

.radio .outer {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin: 14px 9px 10px 10px;
  border: 3px solid #30cfc0;
  border-radius: 50%;
  background-color: #fff;
}

.radio .inner {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 16px;
  height: 16px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  display: block;
  margin: -1px;
  border-radius: 50%;
  background-color: #30cfc0;
  opacity: 0;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.branding{
  padding: 5em;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .row-eq-height  {
        display: block;
    }
    .branding{
      padding: 10px;
    }
}

#mcq {
    color: white;
}